<h1>{{title}}</h1>
<h3>Room</h3>
<form [formGroup]="roomForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12"> Room name</label>
    <div class="col-md-4"> <input class="form-control" type="text" formControlName="roomId"> </div>
    <span class="text-danger" *ngIf="roomID.invalid && formDir.submitted">
      Name is required.
    </span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>

</form>
