<h1>Slot List</h1>

<p *ngIf="!userSlotList"><em>Loading...</em></p>

<table class="table" *ngIf="userSlotList">
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Start time</th>
      <th>Staff ID</th>
      <th>Bookings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of userSlotList">
      <td>{{slot.roomId}}</td>
      <td>{{slot.startTime}}</td>
      <td>{{slot.staffId}}</td>
      <td>{{slot.bookedInStudentId}}</td>
      
    </tr>
  </tbody>

</table>

<div>
  <button class="btn" (click)="back()">Back to user list</button>
</div>
